__pycache__
__pycache__/place.cpython-38.pyc
ai_tests.py
testing_janise.py
venv
__pycache__/classFish.cpython-38.pyc
__pycache__/place.cpython-38.pyc
__pycache__/classFish.cpython-38.pyc
__pycache__/classFish.cpython-38.pyc
